################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetCoreJwtCookie/appsettings.json
/AspNetCoreJwtCookie/appsettings.Development.json
